
* {
    font-family: "Monaco", Arial, Helvetica, sans-serif;
    font-style: normal;
}

body {
    background-color: rgb(89, 117, 133);
}
 
 h2 {
    color: rgb(32, 42, 48);
    text-shadow: 0px 0px 5px rgb(166, 248, 248);
    font-style: italic;
}
  
p, tr, th, td, li {
    color: rgb(32, 42, 48);
    font-size: large;
}

#menu_bar {
    display: block;
    text-align: center;
}

@media print {
    .screen_only {
        display: none;
    }
}